body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

#chat-box {
  height: 300px;
  border: 1px solid black;
  background: white;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px;
}
